<div>
  <img src="<%= logoLink %>" alt="BC Gov Logo" width="200"/>
  <h1>Hi,</h1>
  <p>You are invited to join the Rocket.Chat.</p>
  <a href="<%= invitationLink %>">Join</a>
  <p>If you have any problems using the app, please open an issue in our <a href="https://github.com/bcgov/reggie">GitHub Repo</a></p>
  <h5>BC Gov DevOps Platform Services Team</h5>
</div>
