<div>
  <img src="<%= logoLink %>" alt="BC Gov Logo" width="200"/>
  <h1>Hi, <%= name %></h1>
  <p>Thank you for registering for Rocket.Chat. Please confirm your email associated with the account by clicking the link below.</p>
  <a href="<%= confirmLink %>">Confirm</a>
  <p>If you have any problems using the app, please open an issue in our <a href="https://github.com/bcgov/reggie">GitHub Repo</a></p>
  <h5>BC Gov DevOps Platform Services Team</h5>
</div>
