<style type="text/css">
  a:visited {
    text-decoration: none;
  }
</style>

<div>
  <img src="<%= logoLink %>" alt="BC Gov Logo"/>
  <h1>Hi, <%= name %></h1>
  <p>Please click the link below to confirm your email associated with SSO.</p>
  <a href="<%= confirmLink %>">Click here</a>
  <h5>BC Gov Reggie</h5>
</div>
