<div>
  <img src="<%= logoLink %>" alt="BC Gov Logo" width="200"/>
  <h1>Hi,</h1>
  <p>You are invited to join the BC Gov Rocket Chat App.</p>
  <p>Please register with the code you received in person.</p>
  <a href="<%= invitationLink %>">Register</a>
  <p>If you have any issue using the app, please contact us at </p>
  <a href="https://github.com/bcgov/reggie-web">Github Repo</a>
  <h5>BC Gov Reggie</h5>
</div>
