.rejection-hints {
  color: #7c8084;
  font-size: 15px;
  margin-bottom: 15px;
}

.rejection-instructions {
  margin: 0;
}

@media screen and (min-width: 1300px) {
  .rejection-instructions {
    margin: 0 150px;
  }
}

@media screen and (max-width: 500px) {
  .rejection-hints {
    text-align: justify;
  }
  
  .rejection-instructions {
    text-align: justify;
    margin: 0;
  }
}
